html {
   background-color:rgba(154, 203, 255, 0.5); /* set background color of entire page */
}

* { 
    color: black;  /* set default text color and font */ 
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
    color: #003366; /* set default heading color and font */ 
    font-family: 'Raleway', sans-serif;
}

.headerbar {   /* Configure bar containing top journal title */ 
    background-color:  #003366;
    position: fixed; /* set the headerbar to fixed position */
    top: 0;         /* set headerbar to top of page */
    width: 100vw;    /* Full width */
}

.headerbar h1 { /* Configure text inside header bar */ 
    color: #ffffff;
    text-align: center;
}

.box { /* Generic text box class */ 
    display: block; 
    border-width: 1.5mm;
    border-style: solid;
    border-color: hsl(210, 100%, 20%); 
    border-radius: 1em;
    margin: auto; 
    padding: 1em; 
    text-align: left;
    background-color: #fafafa; 
    width: 90em;
}

nav.box{ /* set special margins/dimensions for nav text box */ 
    margin-top: 6em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em; 
    width: 30em;
}

a[href^="#"] { /* format internal links */ 
    color: #003366;
    text-decoration: none; 
}

a[href^="#"]:hover { /* remove underlines from internal links when hovered */
    text-decoration: underline;
}

.journal { /* configure main journal flexbox */ 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-content: flex-start; 

}

section > h2 { /* format titles of journal entries */
    color: black;
}

img + p { /* format image captions */ 
    font-style: italic; 
    margin: 0; 
    font-size: 14px;
}

#leaguevideo { /* set margins/dimensions of league video */ 
    display: block;
    margin: auto;
    height: 30em;
}

#entryform.box { /* set width of bottom form box */ 
    width: 110em;
}

form { /* configure form layout */ 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-content: flex-start; 
    
}

fieldset ~ button { /* configure form button appearance */ 
    background-color: white; 
    margin-top: 1em;
    width: 10em;
    height: 5em;
    font-size: 1em;
    font-weight: bold;
}

fieldset ~ button:active { /* change button color on press */
    background-color: black; 
    color: white;
}

#entrycontent { /* configure grid for entry content choices */ 
    display: grid;
    grid-template-columns: 15em 15em; 
    grid-template-rows: 1fr 1fr; 
    justify-items: start;
    align-items: start;
}

@media screen and (max-width: 600px) { /* change grid layout for smaller screens */ 
    #entrycontent {  
        display: grid;
        grid-template-columns: 15em; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        justify-items: start;
        align-items: start;
    }
}
input[type="radio"] { /* set radio inputs to be inline */ 
    display: inline;
}

textarea { /* set size of textarea */ 
    width: 300pt;
    height: 150pt;
}

hr { /* style section dividers to account for header bar so that links work correctly*/ 
    position: relative;
    bottom: 6rem;
}


